name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Copy files to EC2
        run: |
          $privateKeyPath = "C:\Users\pesso\Desktop\chave EC2 aws e usuario\privaceKeyPPK.ppk"
          $remotePath = "C:\Users\Administrator\Desktop"
          $localPath = "C:\Users\pesso\OneDrive\Documentos\projetosdotnet\versaoAtual\ProjetoFromLuiz"

          # Install SSH.NET module
          Install-Module -Name SSH.NET -Force -Scope CurrentUser -AllowClobber

          # Import SSH.NET module
          Import-Module -Name SSH.NET

          # Create SSH client
          $sshClient = New-Object -TypeName Renci.SshNet.SftpClient -ArgumentList 54.146.200.153, "Administrator", $privateKeyPath

          try {
            # Connect to the SSH server
            $sshClient.Connect()

            # Upload files to the remote server
            $sshClient.UploadDirectory($localPath, $remotePath, $null)
          }
          finally {
            # Disconnect from the SSH server
            $sshClient.Disconnect()
          }
