name: Push-to-EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: windows-latest

    steps:
    - name: Checkout the files
      uses: actions/checkout@v3

    - name: Install PuTTY
      run: |
        choco install putty -y

    - name: Copy files with PuTTY
      run: |
        REMOTE_HOST: ${{ secrets.EC2_PRIVATE_KEY }}
        REMOTE_USER: ${{ secrets.EC2_USERNAME }}
        REMOTE_USER: ${{ secrets.EC2_HOST }}
        TARGET: C:\Users\Administrator\Desktop
