name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Copy files to EC2
        run: |
          $winscpPath = "C:\Users\Administrator\\winscp"
          $winscpExePath = "$winscpPath\WinSCP.com"
          $winscpIniPath = "$winscpPath\WinSCP.ini"

          # Download WinSCP executable
          Invoke-WebRequest -Uri "https://winscp.net/download/WinSCP-5.19.3-Portable.zip" -OutFile "${env:TEMP}\WinSCP.zip"
          Expand-Archive -Path "${env:TEMP}\WinSCP.zip" -DestinationPath $winscpPath -Force

          # Configure WinSCP script
          @"
          option batch abort
          option confirm off
          open sftp://${{ secrets.EC2_USERNAME }}:${{ secrets.EC2_PASSWORD }}52.91.196.71 -privatekey="C:\Users\Administrator\.ssh\id_rsa.ppk"
          cd "C:\Users\Administrator\Desktop"
          put -recursive -delete -nopermissions ./*
          close
          exit
          "@ | Out-File -FilePath $winscpIniPath -Encoding ASCII

          # Execute WinSCP script
          & $winscpExePath /script=$winscpIniPath
