name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Copy files to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 5986
          script: |
            $securePassword = ConvertTo-SecureString -String "${{ secrets.EC2_PASSWORD }}" -AsPlainText -Force
            $credential = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList Administrator, $securePassword
            $session = New-PSSession -ComputerName 52.91.196.71 -Credential $credential -Port 5986 -UseSSL
            Copy-Item -Path "." -Destination "C:\Users\Administrator\Desktop" -Recurse -ToSession $session
            Remove-PSSession $session
